@namespace url(http://www.w3.org/1999/xhtml);

/* TODO change the include value to your needs. The given example requires simply a redmine subdomain. */
@-moz-document regexp("https?://(\\S+\\.)*redmine\\.\\S+") {
  
  /*Version:
  1.1.0 SVG Testcode introduced. Coloring does not work.
  1.1.1 Ordering the CSS more logically, added missing icons
  */
  
  /* This CSS does the following:
   * - Provide basic CSS for specifying the icons on the redmine issues 
   *   page, whote items have been iconized using the RedmineIconizer user script from 
   *   https://github.com/suterma/RedmineIconizer
   *   using the icons from the free 
   *   iconic icon set at https://useiconic.com/open, provided by Waybury at waybury.com
   * - Generally replace other, existing icons on other redmine pages
   * - shading and placing the icons to match the general redmine css  
   */
  
/********************************************
 * Tracker icons
 ********************************************
 */
table.issues .icon.tracker-patch {
  /*background-image: url("https://github.com/iconic/open-iconic/raw/master/png/medical-cross-2x.png");*/
    background-image: 
        url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="8" height="8" viewBox="0 0 8 8">  <path  class="kiwi" d="M2 0v2h-2v4h2v2h4v-2h2v-4h-2v-2h-4z" /></svg>');
}

table.issues .icon.tracker-defect {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/bug-2x.png");
}

table.issues .icon.tracker-feature {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/beaker-2x.png");
}
  
table.issues .icon.tracker-task {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/task-2x.png");
}  

/*TODO TEST Icon colorizer*/
.icon.kiwi {
  fill: red; 
  background-color: red;
  /*  -webkit-mask-image: url(icon.svg);*/
    /*mask-image: url(icon.svg);*/
}
  
/********************************************
 * Status icons
 ********************************************
 */  
table.issues .icon.status-new {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/sun-2x.png");
}
  
table.issues .icon.status-needsfeedback {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/bullhorn-2x.png");
}
  
table.issues .icon.status-resolved {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/circle-check-2x.png");
}  
  
table.issues .icon.status-progress {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/loop-circular-2x.png");
}    
  
table.issues .icon.status-reopened {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/envelope-open-2x.png");
}    
  
table.issues .icon.status-closed {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/box-2x.png");
}      
  
table.issues .icon.status-rejected {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/thumb-down-2x.png");
}    

table.issues .icon.status-confirmed {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/book-2x.png");
}  

  
/********************************************
 * Priority icons (Priority is represented with 1 to 5 icons)
 * We use smaller icons, to keep the representation somewhat less spacey 
 ********************************************
 */  
/* Allow space for 5 smaller icons */
  table.issues td.priority.icon {
    min-width: 32px;
  }  
  /* Keep the prority icons smaller than other, because there may be up to 5 */
  table.issues td.priority.icon  {
  background-size: 8px auto;
  background-repeat: no-repeat;
  background-position-y: 5px;
  }
  
table.issues .icon.priority-low {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png");
  background-repeat: no-repeat;
  background-position: 16px ;
}
  
table.issues .icon.priority-normal {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png");
    
  background-repeat: no-repeat;
  background-position: 12px ,
                       20px ;
  }
  
table.issues .icon.priority-high {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png");
    
  background-repeat: no-repeat;
  background-position: 8px ,
                       16px ,
                       24px ;
  }  
  
table.issues .icon.priority-urgent {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png");
    
  background-repeat: no-repeat;
  background-position: 4px ,
                       12px ,
                       20px ,
                       28px ;
  }    
  
table.issues .icon.priority-immediate {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/media-record.png");
    
  background-repeat: no-repeat;
  background-position: 0px ,
                       8px ,
                       16px ,
                       24px ,
                       32px ;
}    

  

 /********************************************
 * Replace existing background icons by the ones from the iconic set
 ********************************************
 */
.icon-checked {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/check-2x.png");
}  
.icon-reload {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/reload-2x.png");
}    
.icon-edit {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/pencil-2x.png");
}      
.icon-del {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/trash-2x.png");
}      
.icon-orange-tree {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/align-right-2x.png");
}  
.icon-fav-off {
    /*background-image: url("https://github.com/iconic/open-iconic/raw/master/png/star-2x.png");*/
}  
.icon-fav {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/star-2x.png");
}  
.icon-copy {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/clipboard-2x.png");
}  
.icon-comment {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/comment-square-2x.png");
}  
.icon-history {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/media-skip-backward-2x.png");
}  
.icon-add {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/plus-2x.png");
}
.icon-lock {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/lock-locked-2x.png");
}  
.icon-stats {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/bar-chart-2x.png");
}  
.open .icon-folder,  
.icon-folder {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/folder-2x.png");
}    
tr span.expander {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/caret-right.png");
  background-repeat: no-repeat;
  background-position-y: 4px;
}

tr.open span.expander {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/caret-top.png");
  background-repeat: no-repeat;
  background-position-y: 4px;
  }
  
/* Page Activity */
div#activity dt, #search-results dt {
    background-repeat: no-repeat;
    padding-left: 40px;
}
div#activity dt.issue-edit {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/inbox-2x.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/pencil-2x.png");    
  background-position: 0px ,
                       20px ;
}
div#activity dt.issue {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/inbox-2x.png");    
  background-position: 0px;
}  
div#activity dt.issue-note {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/inbox-2x.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/comment-square-2x.png");    
  background-position: 0px ,
                       20px ;
}    
div#activity dt.issue-closed,
div#activity dt.issue.closed.grouped {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/inbox-2x.png"),
                    url("https://github.com/iconic/open-iconic/raw/master/png/check-2x.png");    
  background-position: 0px ,
                       20px ;
}    
div#activity dt.changeset {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/cog-2x.png");    
  background-position: 0px;
}    
  
  
/* Page Roadmap */  
div#roadmap h3.version {
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/target-2x.png");    
}  
  
 /********************************************
 * Replace existing header/layouted text icons by the ones from the iconic set
 ********************************************
 */
div.issues h3 {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/inbox-2x.png");
}
  
div.members h3 {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/people-2x.png");
}

div.news h3 {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/bullhorn-2x.png");
}
div.wiki .external {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/external-link.png");
}
  table.boards a.board, h3.comments {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/comment-square.png");
    margin-left: 4px;
  }
 span.search_for_watchers a, span.add_attachment a {
    background-image: url("https://github.com/iconic/open-iconic/raw/master/png/plus.png");
  }
  
 /********************************************
 * Replace existing action link image icons by the ones from the iconic set
 ********************************************
 */  
  
  a>img{
  width:16px;
  height:16px;
  box-sizing:border-box;
  padding-left: 16px;
    
  }
  a>img[src="/images/edit.png"]{
    background: url(https://github.com/iconic/open-iconic/raw/master/png/pencil-2x.png) left top no-repeat;
  }  
  a>img[src="/images/comment.png"]{
    background: url(https://github.com/iconic/open-iconic/raw/master/png/comment-square-2x.png) left top no-repeat;
  }  
    
  
/* Visually keep icons and action links linked, by showing them as a button   */
/*//TODO move to other CSS
a.icon {
  line-height: 2em;
  background-position-x: 4px;
    border-radius: 4px;
  border: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    padding: 3px;
  padding-left: 24px;
}  
  
  
a.icon:hover, a.icon:active {
    color: inherit;
    text-decoration: inherit;
  background-color: #eee;
}
  */
  
    
  
/********************************************
 * General icon styles
 ********************************************
 */
  
/* filter the black icons to match the font color */
  a>img,
.icon {
  /*
  -webkit-filter: opacity(71%);
-moz-filter: opacity(71%);
-o-filter: opacity(71%);
-ms-filter: opacity(71%);
filter: opacity(71%);  */
  }  
  
/* Have table icons appear nicely in the table */
table.issues .icon {
  background-size: 16px auto;
  background-repeat: no-repeat;
  background-position-y: 2px;
  background-position-x: 50%;
  /*padding-left: 20px;*/
}
  
  /* Remove the unnecessary type text in the column items */
  table.issues td.icon {
    font-size: 0; 
}

  /* Minimize, but adapt the used space to the icon space useage */
    table.issues td.icon,
table.issues th.tracker,
table.issues th.status,
table.issues th.priority {
    /*max-width: 10px;*/
    /*font-size: 0; */
  padding-left: 2px;
  padding-right: 2px;  
  width: 16px;
  }
  
  /* Compensate the minimization of th space usage with closer sort icon */
  table.issues a.sort  {
    padding-right: 10px;
  }
}
  
