/* A basic CSS for adding icons to Redmin sites, that have been iconized using the RedmineIconizer user script */

.tracker-icon{
  background-color: rebeccapurple;
  /*background-image: url("https://raw.githubusercontent.com/iconic/open-iconic/master/svg/account-login.svg");*/
  background-size: 16px;
  background-repeat: no-repeat;
  background-image: url("https://github.com/iconic/open-iconic/raw/master/png/account-login-2x.png");
}
